<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.platformspringboot.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id     column="id"         property="id"/>
        <result column="username"   property="username"/>
        <result column="password"   property="password"/>
        <result column="nickname"   property="nickname"/>
        <result column="avatar"     property="avatar"/>
        <result column="signature"  property="signature"/>
        <result column="gender"     property="gender"/>
        <result column="status"     property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="cols">id, username, password, nickname, avatar, signature, gender, status, create_time, update_time</sql>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, avatar, signature, gender)
        VALUES (#{username}, #{password}, #{nickname}, #{avatar}, #{signature}, #{gender})
    </insert>

    <select id="findById" resultMap="userMap">SELECT <include refid="cols"/> FROM user WHERE id=#{id}</select>
    <select id="findByUsername" resultMap="userMap">SELECT <include refid="cols"/> FROM user WHERE username=#{username}</select>

    <select id="list" resultMap="userMap">
        SELECT <include refid="cols"/> FROM user
        <where>
            <if test="keyword != null and keyword != ''">AND (username LIKE CONCAT('%',#{keyword},'%') OR nickname LIKE CONCAT('%',#{keyword},'%'))</if>
        </where>
        ORDER BY id DESC LIMIT #{offset}, #{size}
    </select>

    <update id="update" parameterType="User">
        UPDATE user
        <set>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="signature != null">signature=#{signature},</if>
            <if test="gender != null">gender=#{gender},</if>
            <if test="password != null">password=#{password},</if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="count" resultType="long">SELECT COUNT(*) FROM user</select>
</mapper>
